<div>
    <!--Tabla-->
    <header>
        <h2>Albums</h2>
    </header>

    <!-- Se pinta una caja de texto para filtrar por nombre de Banda. -->
    <form class="form-inline">
        <div class="form-group">
            <label for="filtroNombreAlbum">Nombre del Album:</label>
            <input type="text" id="filtroNombreAlbum" ng-model="filtroNombreAlbum" />
        </div>
    </form>

    <table class="table">

        <!--Usamos la directiva en el elemento <tr>. Utilizamos la directiva elementoAlbum-->

        <!--Para filtrar los albunes por banda se tiene que hacer como está comentado
        <tr ng-repeat="album in albums | filter:{ band: { name: filtroNombreAlbum } }"
        -->

        <!--Se espera un JSON en el filter-->
        <!--Creo el evento navegar y paso el id del album
        <!--enb el albums.Controller se define el navegar(id)-->
        <tr ng-repeat="album in albums | filter:{ title: filtroNombreAlbum  }"
            elemento-album
            on-album-click="navegar(id)"
            on-check-click="stateChanged(id,valor)"
            album="album">
        </tr>

    </table>
</div>