<!-- Este artículo hace referencia a los detalles del Album -->
<article>

    <header>

        <button class="btn btn-link" ng-click="volver()">
            Volver
        </button>

    </header>

    <img ng-src="img/{{album.image}}" ng-if="album.image" alt="Imagen" width="350" class="img-rounded"/>

    <div>
        <h3>
            <span class="text-danger">Album:</span>{{::album.title | upperCase}}
        </h3>
    </div>
    <div>
        <span class="text-danger">Banda:</span>{{::album.band.name}}
    </div>
    <div>
        <span class="text-danger">Género:</span>{{::album.genre.name}}
    </div>
    <div>
        <span class="text-danger">Lista de Canciones: </span>{{::album.tracklist | listaInstrumentos:album.tracklist}}
    </div>

    <div>
        <span class="text-danger">Año:</span>{{::album.year}}
    </div>


</article>

